.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.popup-content {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 50%;
}

.popup-content form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttonShowPost {
    border: none;
    background: none;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.div_publier {
    display: flex;
    justify-content: center;
}

.publier {
    cursor: pointer;
    border: none;
    background: none;
}
.button_creation {
    display: flex;
    justify-content: center;
}

.button_add_post {
    border: none;
    background: none;
}

.text_popup {
    font-weight: lighter;
}

.div_input_description {
    width: 100%;
}

.input_description_post {
    border: none;
    width: 95%;
    padding: 10px;
    box-sizing: border-box;
}

.file-label {
    cursor: pointer;
    padding: 10px;
}

.bottom-section {
    margin-top: auto;
}

.popup-content-publication {
    display: flex;
}
.edit_comment_button_accueil img {
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.edit_icon_popup img {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.delete_icon_div img {
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.delete_icon_popup img {
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.edit_icon_popup img:hover {
    transform: scale(1.2);
} 
.delete_icon_popup img:hover {
    transform: scale(1.2);
} 

.delete_icon__post_div img {
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.popupPublication {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.popup-content-publication {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 90%;
    height: 90%;
}


.left-content-popup img {
    width: 100%;
    height: 100%;
}

.right-content-popup {
    padding: 25px;
    width: 60%;
    height: 100%;
}

.more_infos {
    font-weight: lighter;
    color: grey;
    margin-left: -7px;
}

.likes_dislikes_section {
    display: flex;
    align-items: center;
    gap: 5px;
}

.post-header {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.avatar_user {
    border-radius: 100%;
    width: 65px;
}

.pseudo_user {
    font-size: 18px;
}

.date_post {
    font-weight: lighter;
}

.buttonAddPost {
    border: none;
    width: 100%;
}

#publishButton {
    display: none;
}

.avatar_pseudo_user_popup {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.pseudo_comment_popup {
    font-weight: bold;
}

.pseudo_user_popup {
    font-weight: bold;
}

.post_body_popup {
    display: flex;
    gap: 10px;
}

.post_content {
    display: flex;
}

.buttonReponsePostPopup {
    border: none;
    min-width: 500px !important;
    margin-top: 5px;
}

.like_dislike_post {
    margin-left: 10px;
}

.like_popup img {
    width: 30px;
    height: 30px;
}

.dislike_popup img {
    width: 30px;
    height: 30px;
}

.like_dislike_popup {
    display: flex;
}

.comment_like_post img {
    width: 30px;
    height: 30px;
}

.comment_dislike_post img {
    width: 30px;
    height: 30px;
}

.post_text_pseudo {
    font-weight: bold;
}

.post-body {
    display: flex;
    gap: 10px;
}

.like_dislike_post {
    display: flex;
    gap: 5px;
}

.post_img {
    margin-bottom: 10px;
}

.icon_top_logo img {
    width: 250px;
    height: 250px;
    margin-bottom: -30px;
}

.icon_top_logo {
    width: fit-content;
    margin: auto;
}   

.search_bar {
    display: flex;
    margin: 10px auto;
    max-width: 400px;
}

.search_bar form {
    display: flex;
    width: 100%;
}

.search_bar input[type="search"] {
    flex: 1;
    padding: 8px;
    border: none;
    border-radius: 15px;
    outline: none;
    background-color: #eeae5a;
}

.search_bar .search_button {
    border: none;
    background: none;
    cursor: pointer;
    padding: 8px;
}

.loupe_search_bar {
    width: 20px;
    height: 20px;
    margin-left: 5px;
}

.search_bar input[type="search"]::placeholder {
    color: white;
}

.close_icon {
    width: 15px;
    height: 15px;
}

#description {
    border: none;
}

.description_popup {
    width: 100%;
    min-height: 300px;
}

.button_submit_post {
    background-color: #eeae5a;
    color: #ffffff;
    border: 2px solid #eeae5a;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
}

.button_submit_post:hover {
    background-color: #eeae5a;
    border: 2px solid #eeae5a;
    color: #ffffff; 
}

#publishButtonAccueil {
    background-color: #ff9900;
    color: #ffffff;
    border: 2px solid #ff9900;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
}

#publishButtonAccueil:hover {
    background-color: #ffcc66;
    border: 2px solid #ffcc66;
    color: #ffffff; 
}

#publishButtonPopup {
    background-color: #ff9900;
    color: #ffffff;
    border: 2px solid #ff9900;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
}
#publishButtonPopup:hover {
    background-color: #ffcc66;
    border: 2px solid #ffcc66;
    color: #ffffff; 
}

.reply-button {
    border: none;
    background-color: white;
    font-weight: 400;
    color: #8A8A8A;
}

.reply-form {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: block;
    border: none;
}
.form_popup_comm {
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    display: block;
    max-width: 300px;
}

.form_popup_comm label {
    display: block;
    margin-bottom: 5px;
}

.form_popup_comm textarea {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
    border: none;
}

.form_popup_comm button {
    background-color: #4CAF50;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.like_dislike_popup {
    gap: 5px;
}

.buttonReponsePost {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: none;
    margin-top: -30px;
}

#commentReponse {
    width: calc(100% - 20px);
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

#publishButtonReponse {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.post_date {
    font-weight: lighter;
    color: grey;
}

.date_comment_popup {
    font-weight: lighter;
    color: grey;
}
.button_answer_accueil {
    margin-top: -15px;
    margin-left: -5px;
    margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
    .post_img {
        display: flex;
        justify-content: center;
    }
    .post_img img {
        width: 350px;
        height: 350px;
    }

    .search_bar {
        margin-left: 15px;
    }

    .likes_dislikes_section img {
        width: 30px;
        height: 30px;
    }
    .more_infos {
        display: none;
    }
}


/*@media screen and (max-width: 768px) {
    .post_img {
        display: flex;
        justify-content: center;
    }

    .post_img img {
        width: 500px;
        height: 500px;
    }

    .search_bar {
        margin-left: 200px;
    }
}*/


