.content_profil {
    display: flex;
    gap: 100px;
}

.avatar {
    width: 300px;
    height: 300px;
    border-radius: 100%;
}

.pseudo_profil {
    font-weight: bold;
    font-size: 25px;
}

.publications_title {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

img {
    width: 150px;
    height: 150px;
}

.container {
    margin-left: 30%;
}

@media screen and (max-width: 768px) {
    .left_content_profil img {
        width: 300px;
        height: 300px;
        margin-left: -100px;
    }

    .content_profil {
        display: flex;
        flex-direction: column;
    }

    .right_content_profil {
        margin-left: -100px;
    }
    .publications_title {
        width: fit-content;
        text-align: center;
    }
}